$base: 'holdings';

.#{$base} {
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    list-style: none;
  }

  &__message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-md);
    padding: 8px;
    border-radius: 8px;

    &:hover{
      box-shadow: var(--selected-sidebar-shadow);
      transition-duration: 0.3s;
      transition-delay: 0.05s;
    }

    &__instrument {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    &__symbol {
      padding: 4px 8px;
      background-color: var(--black);
      color: var(--secondary);
      border-radius: 8px;
      align-self: center;
    }

    &__name, &__ask {
      color: var(--black);
      align-self: center;
    }

  }
}
