$base: 'sidebar';

.#{$base} {
  width: 8vw;
  height: var(--content-height);
  background-color: var(--secondary);
  box-shadow: var(--container-shadow);
  padding: 16px;
  border-radius: 8px;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary);
    padding: 4px 8px;
    gap: 8px;
    border-radius: 8px;
    transition-duration: 0.3s;

    &__selected{
        box-shadow: var(--selected-sidebar-shadow);
        transition-duration: 0.3s;
        transition-delay: 0.05s;
    }
  }
}
