$base: 'transaction-history';

.#{$base} {
  &__list {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 16px;
    list-style: none;
  }

  &__entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-md);

    &__instrument {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 50%;
    }

    &__symbol,
    &__type {
      padding: 4px 8px;
      background-color: var(--black);
      color: var(--secondary);
      border-radius: 8px;
      width: 64px;
      text-align: center;
    }

    &__symbol {
      width: 64px;
    }

    &__type {
      width: 80px;
    }

    &__bought {
      background-color: var(--success);
    }

    &__sold {
      background-color: var(--error);
    }

    &__name,
    &__amount {
      color: var(--black);
      align-self: center;
    }

    &__amount {
      width: 40px;
      text-align: end;
    }
  }
}
