// Main colors
$primary: #000f30;
$secondary: #ebebeb;
$accent: #00aeef;

// Functional colors
$success: #14ae5c;
$error: #852221;
$warning: #faad14;

// Neutral colors
$white: #ffffff;
$black: #5c5c5c;
