$base: 'trending';

.#{$base} {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  &__message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__entry {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: var(--font-size-md);

    &__symbol {
      padding: 4px 8px;
      background-color: var(--black);
      color: var(--secondary);
    }

    &__name {
      color: var(--black);
    }
  }
}
